<table mat-table #table [dataSource]="dataSource" matSort #sort="matSort" class="mat-elevation-z8">

  <ng-container *ngFor="let tableColumn of tableColumns; let colIndex = index;" matColumnDef="{{tableColumn.columnDef}}">
    <th mat-header-cell mat-sort-header *matHeaderCellDef title={{tableColumn.header}}>{{ tableColumn.header }}</th>
    
    <span *ngIf="tableColumn.field === 0;">
      <td mat-cell *matCellDef="let element">
        <mat-checkbox color="primary" i18n-title title='Select {{tableColumn.cell(element)}}' 
          (change)="$event ? selection.toggle(element): null; " [checked]="selection.isSelected(element)"
          (change)="changeRowSelection(element)">
        </mat-checkbox>
      </td>
    </span>

    <span *ngIf="tableColumn.field === 1;">
      <td mat-cell class="table-link" *matCellDef="let element" i18n-title title='Zoom to {{tableColumn.cell(element)}}' 
        (click)="zoomToElement(element.globalId, element.province)">{{tableColumn.cell(element)}}</td>
    </span>

    <span *ngIf="tableColumn.field === 2;">
      <td mat-cell *matCellDef="let element" title={{tableColumn.cell(element)}}>{{tableColumn.cell(element)}}</td>
    </span>

    <span *ngIf="tableColumn.isDownload;">
      <td mat-cell *matCellDef="let element" i18n-title title="Download cadastral dataset" (click)=openLink(element.url)>
        <mat-icon class="search-button table-button" aria-hidden="true" attr.aria-label="Download">download</mat-icon>
      </td>
    </span>

    <span *ngIf="tableColumn.field === 3;">
      <td i18n mat-cell class="table-link" *matCellDef="let element" title={{tableColumn.title}}
        (click)=openLink(tableColumn.detail(element))>{{tableColumn.cell(element)}}</td>
    </span>

    <td mat-cell *matCellDef="let element"></td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>

</table>

<mat-paginator class="mat-paginator-sticky" #adminPaginator="matPaginator" [pageSize]="50"
  [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator>