<div id="search" class="search">
  <form [formGroup]="form">
    <mat-accordion class="wrapper">

      <div class="wrapper">

        <div class="mask select-search-options mat-select-trigger" aria-hidden="false">
          <mat-form-field appearance="outline" i18n-title title="Select a search type">
            <mat-label i18n>Available Searches</mat-label>
            <mat-select (selectionChange)="selectedValue($event)">
              <mat-option *ngFor="let option of options" [value]="option.value" title={{option.viewValue}}>
                {{option.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-expansion-panel #matExpansionPanel disabled>
          <mat-expansion-panel-header i18n-title title="Expand or Collapse search options"></mat-expansion-panel-header>

          <div class="container">
            <div class="child-container">
              <div class="input-search mat-select-trigger" aria-hidden="false" *ngIf="category.mainInput">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" title={{inputTitle}}>
                    <mat-label>{{inputLabel}}</mat-label>
                    <input matInput id="main" type="text" formControlName="mainInput" aria-label="input">
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-nation" *ngIf="category.NationInput">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="First Nation">
                    <mat-label i18n>First Nation</mat-label>

                    <input type="text" matInput i18n-placeholder placeholder="Enter a value" attr.aria-label="First Nations"
                      formControlName="firstNatControl" [matAutocomplete]="auto">

                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [panelWidth]="300"
                      [displayWith]="displayValues">
                      <mat-option *ngFor="let option of filteredOptionsNation | async" [value]="option"
                        title={{option.viewValue}}>{{option.viewValue}}</mat-option>
                    </mat-autocomplete>

                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-land" *ngIf="category.planInput">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" title='Plan'>
                    <mat-label i18n>Plan Number</mat-label>
                    <input matInput type="text" formControlName="planForParcel" name='plan' aria-label="Plan Number">
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-land" *ngIf="category.ltoInput">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title='LTO'>
                    <mat-label i18n>LTO</mat-label>
                    <input matInput type="text" formControlName="lto" name='lto' aria-label="LTO">
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-land" *ngIf="category.canLandInput">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="Canada Land">
                    <mat-label i18n>Canada Land</mat-label>

                    <input type="text" matInput i18n-placeholder placeholder="Enter a value" attr.aria-label="Canada Lands"
                      formControlName="canadaLandControl" [matAutocomplete]="auto">

                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [panelWidth]="300"
                      [displayWith]="displayValues">
                      <mat-option *ngFor="let option of filteredOptionsLand | async" [value]="option"
                        title={{option.viewValue}}>{{option.viewValue}}</mat-option>
                    </mat-autocomplete>

                    <mat-error i18n *ngIf="canadaLandControl.errors">Choose a value from suggested one</mat-error>

                  </mat-form-field>
                </div>
              </div>

              <div class="input-search mat-select-trigger" aria-hidden="false" *ngIf="category.tpGroup">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="Section Name">
                    <mat-label>Section</mat-label>
                    <input matInput id="section" type="number" min="1" max="36" formControlName="sectionInput"
                      aria-label="Section">
                    <div i18n class="error-input" *ngIf="this.form.get('sectionInput')?.errors">Must be between 1 and 36
                    </div>
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-land" *ngIf="category.tpGroup">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="Township">
                    <mat-label i18n>Township</mat-label>
                    <input matInput type="number" min="1" max="126" formControlName="townshipInput"
                      aria-label="Township">
                    <div i18n class="error-input" *ngIf="this.form.get('townshipInput')?.errors">Must be between 1 and
                      126</div>
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-land" *ngIf="category.tpGroup">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="Range">
                    <mat-label i18n>Range</mat-label>
                    <input matInput type="number" min="1" max="40" formControlName="rangeInput" aria-label="Range">
                    <div i18n *ngIf="this.form.get('rangeInput')?.errors">Must be between 1 and 33</div>
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-direction" *ngIf="category.tpGroup">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="Select a Direction">
                    <mat-label>Direction</mat-label>
                    <mat-select [(value)]="selectedDirection">
                      <mat-option i18n value="E" i18n-title title="East">East</mat-option>
                      <mat-option i18n value="W" i18n-title title="West">West</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-land" *ngIf="category.tpGroup">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="Meridian">
                    <mat-label i18n>Meridian</mat-label>
                    <input matInput type="number" min="1" max="6" formControlName="meridianInput" aria-label="Meridian">
                    <div i18n class="error-input" *ngIf="this.form.get('meridianInput')?.errors">Must be between 1 and 6
                    </div>
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-land" aria-hidden="false" *ngIf="category.adminGroup">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="Select a search type">
                    <mat-label i18n>Administrative Area type</mat-label>
                    <mat-select (selectionChange)="selectedAdminValue($event)" [(value)]="selectedAdminType">
                      <mat-option *ngFor="let type of adminElements" [value]="type.value" title={{type.viewValue}}>
                        {{type.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="select-search-province" aria-hidden="false" *ngIf="category.provSelect">
                <div class="mat-select-trigger">
                  <mat-form-field appearance="outline" i18n-title title="Select a Province or Territory">
                    <mat-label i18n>Province or Territory</mat-label>
                    <mat-select #province multiple [(value)]="selectedProv" (selectionChange)="province.close()">
                      <mat-option *ngFor="let province of provinces" [value]="province.value"
                        title={{province.viewValue}}>{{province.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="child-container">
              <div class="form-button">
                <button type="submit" color="primary" class="angular-button" i18n-title title="Search"
                  attr.aria-label="Search" (click)="submitSearch()">
                  <mat-icon class="search-button" aria-hidden="true" attr.aria-label="Search">search</mat-icon>
                </button>
                <button type="button" i18n mat-icon-button color="primary" class="angular-button" i18n-title
                  title="Clear" attr.aria-label="Clear" (click)="resetButton()">
                  <mat-icon aria-hidden="true" attr.aria-label="Clear">clear</mat-icon>
                </button>
              </div>
            </div>

          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </form>
</div>

<app-table 
  [plan]="planFeatures"
  [project]="projectFeatures"
  [town]="townFeatures"
  [parcel]="parcelFeatures"
  [admin]="adminFeatures">
</app-table>